.vah-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;

  >.menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.is-active,
    &:hover {
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    }

    &.is-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }
  }

  .submenu-item {
    position: relative;

    .submenu-title {
      display: inline-block;
      // margin-left: 5px;
      align-items: center;
    }
  }

  .is-horizontal {
    .arrow-icon {
      margin-right: 3px;
    }

    &:hover {
      .arrow-icon {
        transition: transform .25s ease-in-out;
        transform: rotate(180deg);
      }
    }
  }

  .is-vertical {
    .arrow-icon {
      margin-right: 3px;
    }
  }
  .icon-arrow-transform {
    transition: transform .25s ease-in-out;
    transform: rotate(180deg);
  }

  .viking-submenu {
    display: none;
    list-style: none;
    padding-left: 0;
    white-space: nowrap;

    //transition: $menu-transition;
    .menu-item {
      padding: $menu-item-padding-y $menu-item-padding-x;
      cursor: pointer;
      transition: $menu-transition;
      color: $body-color;

      &.is-active,
      &:hover {
        color: $menu-item-active-color !important;
      }
    }
  }

  .menu-opened {
    display: block;
  }
}

.menu-horizontal {
  >.menu-item {
    border-bottom: $menu-item-active-border-width solid transparent;
  }

  .viking-submenu {
    position: absolute;
    background: $white;
    z-index: 100;
    top: calc(100% + 8px);
    left: 0;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $submenu-box-shadow;
  }
}

.menu-vertical {
  flex-direction: column;
  border-bottom: 0px;
  margin: 10px 20px;
  border-right: $menu-border-width solid $menu-border-color;

  >.menu-item {
    border-left: $menu-item-active-border-width solid transparent;

    &.is-active,
    &:hover {
      border-bottom: 0px;
      border-left: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
}