// default.less
$font-family-no-number  : "Microsoft YaHei", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB",  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family            : "Monospaced Number", $font-family-no-number;
$border-radius-sm       : 2px;
$border-color-split     : hsv(0, 0, 91%);  // split border inside a component

$font-size-base         : 14px;
$line-height-base       : 1.5;
$code-family            : Consolas, Menlo, Courier, monospace;
$heading-color          : fade(#000, 85%);
// theme.less
$site-heading-color: #0d1a26;
$site-text-color: #314659;
$site-text-color-secondary: #697b8c;
$site-border-color-split: #ebedf0;

// base.less
// h1, h2, h3, h4, h5, h6 {
//   margin-top: 0;
//   margin-bottom: .5em;
//   color: $heading-color;
//   font-weight: 500;
// }

$blue-6: #1890ff;
$primary-color          : $blue-6;

$border-color-base      : hsv(0, 0, 85%);

@import '../../../dist/index.css';
@import './common';
@import './header';
// @import './footer';
// @import './home';
// @import './page-nav';
@import './markdown';
// @import './resource';
// @import './preview-img';
// @import './toc';
// @import './not-found';
@import './highlight';
@import './demo';
// @import './colors';
@import './icons';
// @import './mock-browser';
// @import './new-version-info-modal';
// @import './motion';
// @import './responsive';
// @import './theme';
// @import './docsearch';
